#woocommerce-product-data ul.wc-tabs li.misha_options.misha_tab a:before{ content: "\f100"; }
#wc-customize-canvas{ text-align: center; position: relative; line-height: 0;}
#wc-customize-canvas img{ max-width: 100%; height: auto;}
#wc-customize-canvas .resize-logo{ width: 100px; height: auto; position: absolute; left: 0; top: 0; cursor: pointer;}

#wc-customize-canvas .wc-vertical-line, #wc-customize-canvas .wc-horizontal-line{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

#wc-customize-canvas .wc-vertical-line{
  border-left: red dotted 1px;
  width: 1px;
  left: 50%;
  transform: translateX(-50%);
}

#wc-customize-canvas .wc-horizontal-line{
  border-top: red dotted 1px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
}
