.wc-custom-logo-product-parent{ position: relative; display: block; }
.wc-custom-logo-product-parent::after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.shop_table .cart_item .wc-custom-logo-product-parent{
  display: inline-block;
}

.wc-table, .wc-table th, .wc-table td {
  border: 1px solid black !important;
  border-collapse: collapse;
  margin-bottom: 40px;
}
.wc-table th, .wc-table td{
  max-width: 60px;
  text-align: center;
  padding: 0 5px;
}
.wc-table input{
  margin: 0 auto;
  max-width: 100%;
  border: none;
  text-align: center;
}
