.wc-custom-logo-product-parent .zoomImg{ display: none !important; }

.wc-new-custom-logo img{
  max-width: 100% !important;
  height: auto !important;
  border: none !important;
}

.wc-logo-upload{
  box-shadow: 3px 3px 3px #ddd;
  border: #f5f5f5 solid 1px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-bottom: 30px;
}

.wc-logo-upload form{
  display: flex;
}

.wc-logo-upload .upload-text{
  background-image: url( '../images/upload-logo-placeholder.png' );
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wc-logo-upload .upload-text .iui-cloud-upload,
.wc-logo-upload .upload-text span{
  display: none;
}

.wc-logo-upload form .label-button,.wc-logo-upload form .input-images{ width: 50%; }
.wc-logo-upload form .label-button label{ display: block; margin-top: 20px;}
.wc-logo-upload form .label-button{
  padding: 20px;
}
.wc-logo-upload form .label-button button{
  background-color: #1865F2;
  border: #005987 solid 1px;color: #fff;
  padding: 7px 20px;

} /* #1865F2 #005987*/

.wc-logo-upload form .label-button button[disabled]{
  cursor: not-allowed;
  opacity: 0.5;
}

.wc-logo-upload form .input-images{ cursor: pointer; }
.wc-logo-upload form .image-uploader{
  color: #333;
  border: 5px solid #333;
  min-height: 20rem;
}

.image-uploader .uploaded .uploaded-image{
  width: 100%;
}

.image-uploader .upload-text{
  padding: 10px;
  text-align: center;
}

.image-uploader .uploaded .uploaded-image{ height: auto; padding: 0; margin: 0;}
.image-uploader .uploaded .uploaded-image img{
  height: auto;
  position: relative;
}
.image-uploader .uploaded .uploaded-image .delete-image{
  display: block;

}



@media( min-width: 1100px ){
  #product_total_price{
    display: grid;
    grid-template-columns: 1fr 220px;
  }
}


#product_total_price span{
  font-weight: bold;
}

#product_total_price .regular_price, #product_total_price .estimated_price{
  text-decoration: line-through;
  color: #ababab;
  font-weight: bold;
}

#product_total_price .buy-more{
  background: #eee;
  padding: 12px;
}
#product_total_price .buy-more h5{
  font-weight: bold;
  margin-top: 0;
}

#product_total_price .purple{
  color: rgb(255, 136, 0);
}
#product_total_price ul{
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  font-size: 12px;
}
#product_total_price ul li{
  background-color: #eee;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 100px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-right: 5px;
}

#product_total_price .discount-text{
  line-height: 1;
}

i.tshirt-multiple, i.tshirt-print{
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;

}
i.tshirt-multiple::after, i.tshirt-print::after{
  position: absolute;
  top: 3px;
  left: 0;
  content: '';
  background-image: url( '../../assets/images/tshirt-multiple.png' );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
i.tshirt-print::after{
  background-image: url( '../../assets/images/tshirt-print.png' );
}

.font-big{ font-size: 18px; }
.no-margin-bottom{ margin-bottom: 0; line-height: 1;}

.wc-table-container{
  max-width: 100%;
  overflow-x: scroll;
  margin-bottom: 30px;
}
